<section class="section page contact">
    <h1 class="title">{{ page.title | upcase }}</h1>
    <p class="desc">{{ page.description }}</p>
    <div class="row container justify-content-center">
        {% for section in page.sections %}
            <div class="col-md-4">
                <div class="text-container">
                    <h2>{{ section.title }}</h2>
                    <a href="{{ section.href }}">{{ section.text }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>