<section class="bg-yellow">
    <div class="container section">
        <h2 class="title no-desc light">LATEST POSTS</h2>
        <div class="row">
            {% for post in section.posts %}
                <div class="col-md-6 col-lg-4">
                    <div class="card dark-shadow">
                        <div class="img-container"><img src="{{ post.img.path }}" alt="{{ post.img.alt }}" class="card-img-top"></div>
                        <div class="card-body">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p>{{ post.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>