<section class="container section">
    <div class="row">
        <div class="col-8">
            <h2 class="title">{{ section.title | upcase }}</h2>
            <p class="desc">{{ section.description }}</p>
        </div>
    </div>
    <div class="row">
        {% for post in section.posts %}
            <div class="col-md-4">
                <h3 class="subtitle">{{ post.title }}</h3>
                <p>{{ post.text | truncate: 50 }}</p>
            </div>
        {% endfor %}
    </div>
</section>