<section class="container section page works">
    <h1 class="title">{{ page.title | upcase }}</h1>
    <p class="desc">{{ page.description }}</p>
    <div class="row">
        {% for work in page.works %}
            <div class="col-md-4 col-lg-3">
                <a href="{{ work.url | relative_url }}" class="card no-border bg">
                    <img class="card-img-top" src="{{ work.img.path }}" alt="{{ work.img.alt }}">
                    <h2 class="card-title">{{ work.title }}<span class="card-subtitle">{{ work.subtitle }}</span></h2>
                    <p class="card-text">{{ work.text }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>