<section class="container section page works">
    <h1 class="title">{{ page.title | upcase }}</h1>
    <p class="desc">{{ page.description }}</p>
    <div class="row">
        {% for work in page.works %}
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="img-container">
                        <img src="{{ work.img.path }}" alt="{{ work.img.alt }}" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{ work.title }}</h2>
                        <p>{{ work.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>