<section class="container section">
    <h2 class="title no-desc">WORK WITH</h2>
    <div class="row">
        {% for client in section.clients %}
        <div class="col-md-6 col-lg-3">
            <div class="card no-border no-cursor">
                <div class="img-container"><img src="{{ client.img.path }}" alt="{{ client.img.alt}}" class="card-img-top"></div>
                <div class="card-body">
                    <h3 class="card-title">{{ client.title | upcase }}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>