@import "../base/variables";
@import "./animations";

@mixin button($bg-color, $text-color) {
    position: relative;
    width: 12rem;
    padding: 1rem 0;
    font-size: $font-size-sm-xs;
    letter-spacing: $letter-spacing-md;
    background-color: $bg-color;
    color: $text-color;
    border: 0.2rem solid $bg-color;
    span {
        display: block;
        transform: translateY(0.1rem);
    }
    .arrow {
        width: 1.5rem;
        stroke: $text-color;
        stroke-width: 6;
        position: absolute;
        right: 10%;
        top: 40%;
    }
    &:hover {
        background-color: transparent;
        color: $bg-color;
        .arrow {
            stroke: $bg-color;
            animation: wiggle 1s linear infinite;
        }
    }
}
@mixin line-button($line-color, $text-color) {
    @include button($line-color, $line-color);
    background-color: transparent;
    &:hover {
        background-color: $line-color;
        color: $text-color;
        .arrow {
            stroke: $text-color;
        }
    }
}

@mixin navbar($text-color, $text-highlight-color) {
    width: 100%;
    .logo {
        width: 50%;
        color: $text-color;
        svg {
            width: 5%;
            fill: $text-color;
            margin-right: 2rem;
        }
        h1 {
            font-size: $font-size-md-sm;
            line-height: 8rem;
            transform: translateY(0.2rem);
        }
    }
    .navbar-collapse {
        width: 50%;
        height: 6rem;
        font-size: $font-size-sm-xs;
        font-weight: $font-weight-normal;
        letter-spacing: $letter-spacing-lg;
        .navbar-nav {
            width: 80%;
            justify-content: center;
            margin-right: 2rem;
            .nav-item {
                width: 20%;
                height: 6rem;
            }
            .nav-link {
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $text-color;
                &:hover, &.active {
                    font-weight: $font-weight-medium;
                    color: $text-highlight-color;
                    background-color: $text-color;
                }
            }
        }
    }
    .languages {
        width: 20%;
        .list-inline-item {
            margin: 0;
            width: 45%;
            a {
                color: $text-color;
            }
        }
        .active {
            font-weight: $font-weight-medium;
            position: relative;
            &::after {
                content: "";
                width: 4rem;
                height: 4rem;
                border: 0.2rem solid $text-color;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                transform: translate(-52%, -1rem);
            }
        }
        &:hover {
            font-weight: $font-weight-medium;
        }
    }

}
@mixin arrow($width, $color, $inverse-color) {
    width: $width;
    stroke: $color;
    stroke-width: 6;
    position: absolute;
    right: 10%;
    top: 40%;
    &.hover {
        stroke: $inverse-color;
        animation: wiggle 1s linear infinite;
    }
}

@mixin underbar($bg-color) {
    content: "";
    width: 10rem;
    height: 1.5rem;
    background-color: $bg-color;
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}