@import "../base/variables";
@import "../utilities/mixins";


.btn {
    padding: 0;
    &:not(:last-child) {
        margin-right: 3rem;
    }
}
.social-media-group {
    display: flex;
}
.social-media {
    width: 3rem;
    &:not(:last-child) {
        margin-right: 3rem;
    }
    svg {
        width: 100%;
        fill: $color-primary;
    }
}