@import "../base/variables";
@import "../utilities/mixins";

.btn-group {
    margin-bottom: 6rem;
}
.cta {
    @include button($color-primary, $color-light);
}
.cta-line {
    @include line-button($color-primary, $color-light);
}
.btn {
    padding: 0;
    &:not(:last-child) {
        margin-right: 3rem;
    }
}
.social-media-group {
    display: flex;
}
.social-media {
    width: 3rem;
    &:not(:last-child) {
        margin-right: 3rem;
    }
    svg {
        width: 100%;
        fill: $color-primary;
    }
}